<nav class="navbar">
  <div class="lmslogo"> <img src="/assets/lms_logo.jpg" alt="Excelonline" /> </div>
  <div class="nav-links" id="nav-links">

    <a  *ngIf="isAdmin()" href="upload" class="app-button">
      <img width="30px" src="/assets/upload_file.png">
      <span>Create Course</span>
    </a>
    <a href="course" class="app-button">
      <img width="30px" src="/assets/video_library.png">
      <span>View Course</span>
    </a>
    <!-- <a href="profile?userid={{loggedinuser}}" class="app-button">
      <img width="30px" src="/assets/manage_accounts.png">
      <span>Profile</span>
    </a> -->
    <a href="event" class="app-button">
      <img width="30px" src="/assets/event.png">
      <span>Event</span>
    </a>
    <a href="#" class="app-button">
      <img width="30px" src="/assets/membership.png">
      <span>Subscription</span>
    </a>
    <a href="#" (click)="logout()" class="app-button">
      <img width="30px" src="/assets/logout.png">
      <span>LogOut</span>
    </a>
  </div>
  
</nav>