<header class="hcontainer">
  <div class="lmslogo">
    <a href="#"> <img src="/assets/lms logo.png" alt="Excelonline " /> </a>
  </div>

  <div class="navbar">
    <div>
      <ul class="dflex-C">
        <a href="home">Home</a>
        <li><a href="about">About</a></li>

        <li>
          <div class="dropdown">
            <button class="dropbtn">Services
              <i class="fa fa-caret-down"></i>
            </button>
            
            <div class="dropdown-content">
              <a href="counsling">counsling</a>
              <a href="course">course</a>
              <a href="services">services</a>
              <a href="mponline">MP Online</a>
              <a href="school">school</a>
              <a href="services">services</a>
              <a href="signup">signup</a>
              <a href="sitebar">sitebar</a>
              <a href="imgcration">imgcration</a>
              <a href="upload">upload</a>
              <a href="userlist">userlist</a>
              <a *ngIf="loggedinuser=='SHAILENDRA.JETHIWAL'" href="adminpanel">adminpanel</a>
            </div>
          </div>
        </li>

        <li><a href="contact">Contact</a></li>
        <li><a href="signup">School</a></li>
        <li><a href="landingpage">landingpage</a></li>
      </ul>
    </div>

    <div class="actionbuttongroup">
      <div (click)="Joinwhatsapp()" class="action_btn">Join Whatsapp Group</div>
      <div *ngIf="!islogged" (click)="login()" class="action_btn">
        {{ buttontext }}
      </div>
      <div *ngIf="islogged" (click)="logout()" class="action_btn">Log out</div>
    </div>

    <div class="toggle_btn" (click)="clikevent()">
      <i [ngClass]="isopen ? 'fa fa-close' : 'fa fa-bars'"></i>
    </div>
  </div>

  <div class="dropdown_menu" *ngIf="isopen">
    <li><a href="home">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="services">Services</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="School">School</a></li>
    <li><a href="mponline" class="action_btn">Join Whatsapp Group</a></li>
    <li><a href="mponline" class="action_btn">Log in</a></li>
  </div>
</header>
