<header class="user-header ">

  <div class="lmslogo">
    <a href="#"> <img src="/assets/lms logo.png" alt="Excelonline " /> </a>
  </div>

  <div>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="signup">Join Free Course</a></li>
        <li><a href="landingpage">landingpage</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <div class="actionbuttongroup">
      <div (click)="Joinwhatsapp()" class="action_btn">Join Whatsapp Group</div>


      <div *ngIf="!islogged" (click)="login()" class="action_btn">
        {{ buttontext }}
      </div>
      <div *ngIf="islogged" (click)="logout()" class="action_btn">Log out</div>
    </div>

    <div class="toggle_btn" (click)="clikevent()">
      <i [ngClass]="isopen ? 'fa fa-close' : 'fa fa-bars'"></i>
    </div>
  </div>

  <div class="dropdown_menu" *ngIf="isopen">
    <li><a href="home">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="services">Services</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="Course">Course</a></li>
    <li><a href="mponline" class="action_btn">Join Whatsapp Group</a></li>
    <li><a href="signup" class="action_btn">Log in</a></li>
  </div>
</header>

<header class="mheader">
  <div *ngIf="usertype=='Admin'" class="admin-header">
    <nav>
      <ul>
        <li> <a href="home">Home</a> </li>
        <li> <a href="temp">Temp</a> </li>
        <li> <a href="course">Courses</a> </li>
        <li> <a href="services">Services</a> </li>
        <li> <a href="mponline">MP Online</a> </li>
        <li> <a href="signup">Signup</a> </li>
        <li> <a href="sitebar">Sitebar</a> </li>
        <li> <a href="imgcration">Content</a> </li>
        <li> <a href="upload">Upload New Course</a> </li>
        <li> <a href="dashboard">User List</a> </li>
        <li>
      </ul>
    </nav>
  </div>
  <div  *ngIf="usertype=='Guest'"  class="user-header">
    <nav>
      <ul>
        <li><a href="profile">Profile</a></li>
        <li><a href="course">Courses</a></li>
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="dashboard">Membership-Silver </a></li>
      </ul>
    </nav>
  </div>
  <div>

  </div>
</header>