<p>footer works!</p>
<footer>
    <p>Contact us at: <a>href="shailendra.jethiwal.com"</a></p>
    <p>Follow us on <a href="your-facebook-link">Facebook</a>, <a href="your-twitter-link">Twitter</a></p>
    <a href="your-privacy-policy-link">Privacy Policy</a>
</footer>




<footer>
    <div>
      <div class="dflex-r">
        <div class="contact-info">
          <p><a href="#">Terms and Conditions</a></p>
          <p>Contact Us: <a href="tel:9425367914">9425367914</a></p>
          <p>
            Email Us:
            <a href="mailto:shailendra.jethiwal@gmail.com"
              >shailendra.jethiwalgmail.com</a
            >
          </p>
        </div>

        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.258244319728!2d-122.08424948469253!3d37.42206597982461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb5df07b1b21b%3A0xf8f9e9d4d0a3f1a6!2sGoogle!5e0!3m2!1sen!2sus!4v1622812417324!5m2!1sen!2sus"
            width="300"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>

        <div class="social-media">
          <a href="#"
            ><img
              src="path/to/facebook-icon.png"
              alt="Facebook"
              class="social-icon"
          /></a>
          <a href="#"
            ><img
              src="path/to/twitter-icon.png"
              alt="Twitter"
              class="social-icon"
          /></a>
          <a href="#"
            ><img
              src="path/to/linkedin-icon.png"
              alt="LinkedIn"
              class="social-icon"
          /></a>
          <a href="#"
            ><img
              src="path/to/instagram-icon.png"
              alt="Instagram"
              class="social-icon"
          /></a>
        </div>
      </div>
    </div>
  </footer>
