<!-- <h1> Excel Online Services </h1>
<p> About Us Welcome to <b> Excel Online Services</b>, your go-to destination for a myriad of services that cater to both individuals and students alike. Established in 1998, we embarked on our journey as a powerhouse in music recording and editing. From 2002 to 2004, our focus on delivering exceptional quality in this domain set the stage for the diverse range of services we offer today. </p>
<ul> 
    <li>  <b> Our Evolution : </b> 
        Over the years, Excel Online Services has evolved into a multifaceted platform, offering a spectrum of services:</li>  
</ul> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Excel Online Services</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
  </head>
  <body>
    <header>
      <h1>Excel Online Services</h1>
    </header>

    <p>
      This is a and
      <strong>
        <a href="https://example.com">Excel online </a> online Course
        Services</strong
      >
      text in a paragraph.
    </p>
    <main >
      <div class="about">
      <section>
        <h2>About Us</h2>
        <p>
          Welcome to Excel Online Services, your go-to destination for a myriad
          of services that cater to both individuals and students alike.
          Established in 1998, we embarked on our journey as a powerhouse in
          music recording and editing. From 2002 to 2004, our focus on
          delivering exceptional quality in this domain set the stage for the
          diverse range of services we offer today.
        </p>
      </section>

      <section>
        <h2>Our Evolution</h2>
        <ul>
          <li>
            <strong> Education (Since 1998):</strong> In 1998, we pioneered
            education services, teaching computer knowledge to students,
            government employees, and businessmen.
          </li>
          <li>
            <strong>Music Editing (Since 2000):</strong> Starting in the year
            2000, we expanded our horizons into music editing, providing
            computer-based music recording to audio cassettes with Dolby digital
            sound.
          </li>
          <li>
            <strong>Graphics Design (2002 to 2009):</strong> From 2002 to 2009,
            we delved into graphics design, creating and printing a variety of
            materials, including cards, invitations, letterheads, certificates,
            flex designs, and more.
          </li>
          <li>
            <strong>Cyber Café Services:</strong> Providing cyber café
            facilities, our services include scanning, printing, student support
            for project FrontPages, and typing work.
          </li>
          <li>
            <strong>Online Form Filling (Since 2006):</strong> In 2006, we
            introduced M.P. Online Services, excelling in online form filling
            with smart ranker facilities for students aiming to achieve their
            targets.
          </li>
          <li>
            <strong>MP ONLINE Services:</strong> Our commitment to student
            success led us to extend our services to career counseling for
            engineering and medical colleges, including NEET and JEE counseling
            at state and national levels.
          </li>
          <li>
            <strong>Jobs Recruitment:</strong> We specialize in filling all
            types of Madhya Pradesh and all India job forms and counseling,
            covering MPPSC, NDA, SSC, ESB (formerly known as Vyapam and PEB).
          </li>
          <li>
            <strong>Registrations:</strong> Excel Online Services provides
            assistance in various registrations, including Madhya Pradesh
            Medical Counseling, Pharmacy Council of India, Nursing Council, Drug
            and Medical license, Farm and Establishment License, etc.
          </li>
          <li>
            <strong>College Level Counseling for UG and PG Courses:</strong>
            Every June, we offer comprehensive counseling services for
            undergraduate and postgraduate courses, guiding students to make
            informed choices for admission into the best colleges in Madhya
            Pradesh.
          </li>
          <li>
            <strong>Scholarships Program:</strong> Our commitment to education
            includes assisting with All India and Madhya Pradesh state
            scholarship form filling, providing guidance on required documents,
            such as income certificates, M.P. Domicile, caste certificates,
            Samgra Portal, Adhar Card, etc.
          </li>
          <li>
            <strong>Pan Card Services:</strong> Excel Online Services simplifies
            the process of obtaining a Pan Card through our online services.
          </li>
        </ul>
      </section>
      </div>

      <div class="about dflex-r">
        <section>
          <h2>Our Vision</h2>
          <p>
            At Excel Online Services, we envision a world where education is
            accessible, career paths are guided, and administrative processes
            are streamlined. Join us on this journey as we continue to evolve
            and empower individuals and students in their pursuit of excellence.
          </p>
        </section>

        <section>
          <h2>About the Founder</h2>
          <p><strong>Shailendra Jethiwal</strong></p>
          <p>
            Hello, my name is Shailendra Jethiwal, and I am the founder of Excel
            Online Services in Dewas, Madhya Pradesh. For the past 24 years, I
            have been deeply involved in career counselling for NEET, JEE, NEET
            PG, NEET UG, nursing, government jobs, recruitment, and have been
            dedicated to assisting students in achieving their targets.
          </p>
        </section>
      </div>
    </main>

    <footer >
      <div>
        <div class="footer-content dflex-r">
          
          <div class="contact-info">
            <p><a href="#">Terms and Conditions</a></p>
            <p>Contact Us: <a href="tel:9425367914">9425367914</a></p>
            <p>
              Email Us:
              <a href="mailto:shailendra.jethiwal@gmail.com"
                >shailendra.jethiwalgmail.com</a
              >
            </p>
          </div>

          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.258244319728!2d-122.08424948469253!3d37.42206597982461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb5df07b1b21b%3A0xf8f9e9d4d0a3f1a6!2sGoogle!5e0!3m2!1sen!2sus!4v1622812417324!5m2!1sen!2sus"
              width="300"
              height="200"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>

          <div class="social-media">
            <a href="#"
              ><img
                src="path/to/facebook-icon.png"
                alt="Facebook"
                class="social-icon"
            /></a>
            <a href="#"
              ><img
                src="path/to/twitter-icon.png"
                alt="Twitter"
                class="social-icon"
            /></a>
            <a href="#"
              ><img
                src="path/to/linkedin-icon.png"
                alt="LinkedIn"
                class="social-icon"
            /></a>
            <a href="#"
              ><img
                src="path/to/instagram-icon.png"
                alt="Instagram"
                class="social-icon"
            /></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
