div{
    font-size: 15px;
    
}

.conh2{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    background-color:rgb(70, 70, 70);
    color: white;
    padding: 5px;
    height: 30px;
    /* margin: -10px -11px 10px -11px;     */
    border-radius: 10px 10px 0 0;
}
.video-list{
    background-color: white;
}
.content-item{
    cursor: pointer;
    padding: 5px;
    background-color: white;
    color:black;    
    transition:  height .2s ease-in;    
    height: 35px;
}
.content-item-selected{
    cursor: pointer;
    padding: 5px;
    background-color:rgb(240, 92, 12);
    color:white;
    transition:  color .2s ease-in;
    height: 35px;
 }
.content-item:hover{
    background-color:rgb(240, 92, 12);
    color: white;
 /*    font-size: larger;*/
    
}
.section-name{
    font-weight: bold;
    background-color: rgb(210, 210, 210);
    padding: 3px 0 0 5px;
    height: 30px;
}