
.conh2{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    background-color:rgb(70, 70, 70);
    color: white;
    padding: 5px;
    height: 30px;
    /* margin: -10px -11px 10px -11px;     */
    border-radius: 10px 10px 0 0;
}
.video-list{
    background-color: white;   
    padding: 5px;
    
}
.contenttext{
   font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
height: 25px;
}

.content-item-selected{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color:#a9a8a7;
    transition:  color .2s ease-in;
 }
 .contenttext:hover{
    background-color:rgb(93, 93, 93);
    color: white;
}
.section-name{
    font-weight: bold;
    background-color: rgb(210, 210, 210);
    padding: 3px 0 0 5px;
    height: 30px;
}