
<div class="cont">
  <div>
    <video width="640" height="480" controls autoplay>
      <source src="..//../assets/wellcome.mp4" type="video/mp4" />
      <source src="movie.ogg" type="video/ogg" />
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="left">
    <h2>USER LOG IN</h2>

    <form #signupform="ngForm" (submit)="userLogin()">
      <div class="container">
        <div class="row">
          <div class="col-sm"><label for="userEmail">Email:</label></div>
          <!-- <div class="col-sm"> <input [(ngModel)]="userdata.userEmail" type="text" id="userEmail" name="userEmail"
              placeholder="xyx001@gmail.com" class="form-control" /> -->

          <div class="col-sm">
            <input
              [(ngModel)]="userdata.userEmail"
              type="email"
              id="userEmail"
              name="userEmail"
              placeholder="xyz001@gmail.com"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm"><label for="password">Password :</label></div>
          <div class="col-sm">
            <input
              [(ngModel)]="userdata.password"
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              class="form-control"
              required
              #passwordInput="ngModel"
            />
            <div
              *ngIf="
                passwordInput.invalid &&
                (passwordInput.dirty || passwordInput.touched)
              "
            >
              <small
                class="text-danger"
                *ngIf="passwordInput.errors?.['required']"
              >
                Valid Password is required.</small
              >
            </div>
          </div>
        </div>
        <div class="row p-2">
          <div class="col">{{ message }}</div>
        </div>

        <div class="row">
          <div class="col-sm">
            <input
              class="custom-button"
              type="submit"
              value="Login"
              [disabled]="signupform.invalid"
            />
          </div>
        </div>
      </div>
    </form>

    <div class="row"></div>
  </div>
</div>
