.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.decoration {
    background-color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    border-color: black;
    list-style:none;
    padding: 20px;
}