<div class="admin-button-container">
  <a href="upload" class="app-button">
    <img width="50px" src="/assets/upload_file.png">
    <span>Upload Course</span>
  </a>
  <a href="course" class="app-button">
    <img width="50px" src="/assets/video_library.png">
    <span>View Course</span>
  </a>
  <a href="users" class="app-button">
    <img width="50px" src="/assets/manage_accounts.png">
    <span>Users</span>
  </a>
  <a href="users" class="app-button">
    <img width="50px" src="/assets/membership.png">
    <span>Subscription</span>
  </a>
</div>