

<header style="margin-left: 30px;">
<p class="font">Let‘s start learning, {{ loggedinuser }}</p>

</header>


<div class="mpcontainer">
  <div class="rightcontainer">
    <div class="appcontainer">
      <div class="app-grid">
        <div class="app-item" *ngFor="let item of courselist">


          <div>
            <img class="img" src="/assets/course/{{ item.image }}" />

            <div class="app-name">
              <li><a href="imgcration">{{item.title}} </a></li>
            </div>
            
            <div>{{ item.title }} Rs. 4999/-</div>
          </div>

          <button type="button" class="custom-button">
            <span>View Course</span>
          </button>

          
        </div>
      </div>
    </div>
  </div>
</div>



<!-- /white/ -->

