<p class="font">Let‘s start learning, SHAILENDRA JETHIWAL</p>
<div class="mpcontainer">
    <div class="leftcontainer">
      <app-sitebar> </app-sitebar>
    </div>
  
    <div class="rightcontainer">
      <div class="appcontainer">
        <div class="app-grid">
         <div *ngFor="let s of listofstudent">
          {{s.coursename}},{{s.age}},{{s.totalFee}}
        </div>
  
          <div class="app-item" *ngFor="let item of servicesicon">
      
            <div>
              <img class="img" src="/assets/course/{{ item.icon }}.jpeg" />
              <div class="app-name">{{ item.icon }}</div>
              <div>{{ item.desc }}</div>
            </div>
            <div class="temp">
              <div class="left">left</div>
              <div class="right">
                <a href="/assets/course/{{ item.file }}" target="_blank">
                  Open
                </a>
              </div>
              <div class="center">center</div>
            </div>
          </div>
  
  
        </div>
      </div>
    </div>
  </div>
  


 
    <article class="course_list-item">
    <figure class="course-thumnail false" style="cursor: pointer;">
        <img src="https://tagmango.com/publicassets/-1245d22e-49c4-47d4-b07f-ee45962bed61-60f2d99f77903058227607d83328999e.jpg" alt="Course"></figure><div class="course-details false"><div>
            <div class="ant-space ant-space-horizontal ant-space-align-center" style="gap: 8px;">
                <div class="ant-space-item"><div class="completed">COMPLETED</div></div></div></div>
                <h3>AI Content Mastery</h3>
                <h4>Internet Lifestyle Hub</h4>
            </div>
            <div class="course-footer edit-course d-flex align-center">
                <button type="button" class="ant-btn ant-btn-default ant-btn-block siteBtn siteBtnSecondary sm">
                    <span>View Course</span></button><span><button type="button" class="ant-btn ant-btn-default siteBtn noStyle square-btn">
                        <span role="img" aria-label="download" class="anticon anticon-download">
                            <svg viewBox="64 64 896 896" focusable="false" data-icon="download" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                <path d="M505.7 661a8 8 0 0012.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z"></path>
                     