<div class="cont ">

  <div>
    <video width="640" height="480" controls autoplay>
      <source src="..//../assets/wellcome.mp4" type="video/mp4" />
      <source src="movie.ogg" type="video/ogg" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="left ">
    <h2>Registration Forms</h2>

    <form #signupform="ngForm" (submit)="createuser()">



      <div class="container">
        <div class="row">
          <div class="col-sm">
            <label for="type">User Type</label>
          </div>
          <div class="col-sm">
            <select [(ngModel)]="userdata.type" name="type">
              <option value="Student">Student</option>
              <option value="Guest">Guest</option>
              <option value="Admin">Admin</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm"><label for="userName">First name:</label></div>
          <div class="col-sm"> <input [(ngModel)]="userdata.userName" type="text" id="userName" name="userName"
            placeholder="John" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm"><label for="mobile">Mobile:</label></div>
          <div class="col-sm"> <input [(ngModel)]="userdata.mobile" type="text" id="mobile" name="mobile"
              placeholder="10 Digi Number only" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm"> <label for="userEmail">Email:</label></div>
          <div class="col-sm"> <input [(ngModel)]="userdata.userEmail" type="text" id="userEmail" name="userEmail"
            placeholder="xyx001@gmail.com" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm"> <label for="password">Password :</label></div>
          <div class="col-sm"> <input [(ngModel)]="userdata.password" type="password" id="password" name="password"
            placeholder="Password" />
          </div>
        </div>
        <div class="row p-2">
          <div class="col"> {{message}} </div>
        </div>
        
        <div class="row">
          <div class="col-sm">
            <input type="submit" value="Submit" />
           
            
            
          </div>

        </div>
      </div>
    </form>

 



  </div>
</div>