
<div>
    <div class="d-flex header_content">
      <a> <img class="imglms" src="/assets/lms logo.png" alt="LMS Logo " /> </a>
      <h1>Image Creation Skill</h1>
      <a> <img class="imglms" src="/assets/Avtar.png" alt="Avtar " /> </a>
    </div>
  </div>
  
  
  <div class="cont">
    <div>
      <iframe
        width="650"
        height="420"
        src="https://www.youtube.com/embed/nqO6cEbXyKM ">
      </iframe>
  
    
  
      <div>
        <div class="temp">
          <div class="left">left</div>
          <div class="right"><a href="" target="_blank"> Open </a></div>
          <div class="center">center</div>
        </div>
      </div>
    </div>
  
    <div >
      <h2>Image Creation Skill</h2>
    </div>
  </div>
  
  <div>
  
  