* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* .dflex-rj {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
} */

/* nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav a {
    color: #060606;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
} */

/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #cb1c1c;
    background-color: #f9f9f9;
} */




h1 {
    margin: 0;
    font-weight: normal;
}

main {
    display: flex;
    margin-top: 2em;
}

.video-container {
    flex: 3;
    margin-right: 2em;
}

.video-controls {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.video-controls button {
    margin: 0 0.5em;
    padding: 0.5em 1em;
    background-color: hsl(26, 100%, 50%);
    color: #fff;
    border: none;
    cursor: pointer;
}

.video-controls button:hover {
    background-color: #dab940;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 1em;
    position: relative;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #767a7e;
}

.playlist {
    flex: 1;
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: 5px;
}

.playlist ul {
    list-style: none;
    padding: 0;
}

.playlist li {
    margin: 0.5em 0;
    cursor: pointer;
}

.section-title {
    font-weight: bold;
    margin-top: 1em;
}

.video-item {
    padding: 0.5em;
    background-color: #e9ecef;
    border-radius: 5px;
}

.video-item:hover {
    background-color: #dee2e6;
}
