

<div class="sitebarcontainer">


<ul >
    <li class="slist">
        <a href="mponline"> M P ONLINE SERVICES</a>
    </li>


    <li class="slist">
        <a href="counseling"> COLLEGE COUNSELING </a>
    </li>

    <li class="slist">
        <a href="web"> WEB SITE DEVLOPING </a>
    </li>

    <li class="slist">
        <a href="digital-m"> DIGITAL MARKETING AGENCY </a>
    </li>

    <li class="slist">
        <a href="whatsapp"> JOIN OUR GROUP </a>
    </li>
    <li class="slist">
        <a href="course"> Your Course </a>
    </li>
</ul>
</div>