<div class="div-container" (contextmenu)="disableRightClick($event)">
    <div>
        <div>
            <video #videoPlayer preload="auto" [src]="currentVideo?.videoFileName">
                Your browser does not support the video tag.
            </video>
        </div>
        <div  class="div-buttons">
            <button (click)="play()" type="button" class="btn btn-dark">Play</button>
            <button (click)="pause()" type="button" class="btn btn-dark">Pause</button>
        </div>
    </div>
</div>